{
    "openapi": "3.0.2",
    "servers": [
        {
            "url": "https://api.karbonhq.com",
            "description": "The production API server"
        }
    ],
    "info": {
        "description": "This document covers Karbon API endpoints and data formats. You can find additional developer resources at [Karbon Developer Center](https://developers.karbonhq.com). <br><br><b>Please note the following</b> <ul><li>Karbon's APIs use the OData standard to help with resource searching. Use [OData's reference guide](https://www.odata.org/documentation/odata-version-2-0/uri-conventions/)  to learn more about OData URI conventions.</li> <li>PATCH operations are limited to simple top-level properties and currently do not work on nested objects.</li> <li>OData's <code>$expand</code> option is only available where explicitly mentioned.</li>  <li>If an endpoint allows you to use multiple properties with the <code>$expand</code> option, you can assign a comma-separated list of the properties to the <code>$expand</code> option.</li>  <li>Wherever <code>$orderby</code> option is explicitly mentioned, you can also use allowed property name followed by space then <code>desc</code> keyword to receive the response in descending order.</li>  </ul> \n<p><b style=\"color:red\">Warning!!</b> - The examples shown below are for illustration purpose only. Attempting to call an API using the examples for request payload might result in unusual behaviour because the Karbon generated values for various entities' keys may differ from the values in your tenant.</p>\n<hr> <h2>Credentials for accessing Karbon APIs<h2> <p>You will need two credentials - an Authorization token and a Karbon Tenant AccessKey - to access Karbon APIs. If you don't already have these credentials, follow the steps below to receive them and access Karbon APIs: <ol> <li> [Register](https://developers.karbonhq.com/register) for a free developer account to receive the Authorization (<code>Bearer</code>) token via an email.</li> <li> [Find](https://help.karbonhq.com/en/articles/4580888-karbon-api-integration#h_03a24631ea) your Karbon Tenant Accesskey under Settings -> Connected Apps in Karbon.</li> <li>Assign the Authorization token to <code>Authorization</code> header and Karbon Tenant AccessKey to <code>AccessKey</code> header to send requests to Karbon APIs.</li> </ol></p> <hr>\n",
        "version": "v3",
        "title": "Karbon API",
        "termsOfService": "https://karbonhq.com/terms-of-use/",
        "contact": {
            "name": "API Support",
            "url": "karbonhq.com/contact-us"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "tags": [
        {
            "name": "Business Cards",
            "description": "View or update the Business Card attached to a Contact and/or Organisation"
        },
        {
            "name": "Client Groups",
            "description": "Create a client group to manage related contacts, create work for them, and see all related jobs in a single view. [Read more](https://help.karbonhq.com/en/articles/5880261-manage-a-client-group)"
        },
        {
            "name": "Client Request Recipients",
            "description": "Receive information about the recipient of the the Client Request Tasks. [Read more](https://help.karbonhq.com/en/collections/102205-client-tasks)"
        },
        {
            "name": "Client Requests",
            "description": "Review Client Requests that you have created to assign tasks, schedule automatic reminders and receive information. [Read more](https://help.karbonhq.com/en/collections/102205-client-tasks)"
        },
        {
            "name": "Client Task Comment Attachments",
            "description": "Manage attachments in Client Request Tasks comments. [Read more](https://help.karbonhq.com/en/collections/102205-client-tasks)"
        },
        {
            "name": "Client Task Comments",
            "description": "Manage Client Tasks comments and receive information about them. [Read more](https://help.karbonhq.com/en/collections/102205-client-tasks)"
        },
        {
            "name": "Client Tasks",
            "description": "Use Client Tasks to collaborate with clients, assign tasks, schedule automatic reminders and receive info. [Read more](https://help.karbonhq.com/en/collections/102205-client-tasks)"
        },
        {
            "name": "Comments",
            "description": "Use comments on tasks to add notes or bring a colleague into the conversation to collaborate on the task. [Read more](https://help.karbonhq.com/en/articles/2111192-comment-and-collaborate-on-a-task)"
        },
        {
            "name": "Contacts",
            "description": "Manage your contacts and get the full overview over clients, whether they are individuals or organizations. [Read more](https://help.karbonhq.com/en/articles/5708609-overview-of-contacts)"
        },
        {
            "name": "Estimate Summaries",
            "description": "Estimate and track time to understand jobs that are on-budget, allocate resources, and uncover performance insights to transform your firm. [Read more](https://help.karbonhq.com/en/articles/4439115-overview-of-time-budgets)"
        },
        {
            "name": "Files",
            "description": "Handle files and attachments. [Read more](https://help.karbonhq.com/en/articles/5714089-files-and-attachments)"
        },
        {
            "name": "Notes",
            "description": "Hold a conversation internally within your company. Unlike an email, Notes are viewed only by members of your team. [Read more](https://help.karbonhq.com/en/articles/5919746-use-notes)"
        },
        {
            "name": "Organizations",
            "description": "Create an organization to represent marriages and couples and client groups to represent families. [Read more](https://help.karbonhq.com/en/articles/5880261-manage-a-client-group)"
        },
        {
            "name": "Socket Manager",
            "description": "Operations about Socket Manager"
        },
        {
            "name": "Timesheets",
            "description": "Review colleagues' weekly submitted timesheets. [Read more](https://help.karbonhq.com/en/articles/6022358-add-budget-estimates-track-time-and-submit-time-sheets)"
        },
        {
            "name": "Users",
            "description": "Create and view the basics & defaults for colleagues, teams and job roles to customize Karbon to represent the way you and your team work. [Read more](https://help.karbonhq.com/en/articles/3731216-edit-your-user-profile)"
        },
        {
            "name": "Webhook Subscriptions",
            "description": "Integrate your system with Karbon to receive changes made to your data in Karbon."
        },
        {
            "name": "Work Items",
            "description": "Manage a Work Item to best fit your workflow, including timelines, tasks and work teams. [Read more](https://help.karbonhq.com/en/articles/6057036-managing-work-items-and-teams)"
        },
        {
            "name": "Work Schedules",
            "description": "Set a Work Item to repeat on a defined schedule. [Read more](https://help.karbonhq.com/en/articles/6096234-setup-repeating-work-on-a-schedule)"
        },
        {
            "name": "Work Templates",
            "description": "Find and review templates that you created to fit your firm's unique workflows. [Read more](https://help.karbonhq.com/en/articles/5325202-create-and-customize-work-templates)"
        }
    ],
    "security": [
        {
            "ApiKeyAuth": [],
            "BearerAuth": []
        }
    ],
    "paths": {
        "/v3/BusinessCards/{BusinessCardKey}": {
            "get": {
                "tags": [
                    "Business Cards"
                ],
                "summary": "Gets a single Business Card",
                "parameters": [
                    {
                        "required": true,
                        "in": "path",
                        "name": "BusinessCardKey",
                        "schema": {
                            "type": "string",
                            "example": "2tBHyXtJBxBy"
                        },
                        "description": "The Karbon-generated Business Card key"
                    }
                ],
                "description": "Use the <code>GET</code> method on this endpoint to receive the details of a Business Card specified using the BusinessCardKey.",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "@odata.context": {
                                                    "type": "string",
                                                    "example": "https://api.karbonhq.com/v3/$metadata#BusinessCards/$entity",
                                                    "description": "The information about Karbon controllers generating this response."
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "EntityType": {
                                                    "type": "string",
                                                    "example": "Organization",
                                                    "enum": [
                                                        "Contact",
                                                        "Organization"
                                                    ],
                                                    "description": "The type of entity that this business card is connected to."
                                                },
                                                "EntityKey": {
                                                    "type": "string",
                                                    "example": "2jHPZngklwxQ",
                                                    "descrition": "The unique key for the entity specified this business card is connected to"
                                                }
                                            }
                                        },
                                        {
                                            "$ref": "#/components/schemas/BusinessCard"
                                        }
                                    ]
                                },
                                "example": {
                                    "@odata.context": "https://api.karbonhq.com/v3/$metadata#BusinessCards/$entity",
                                    "@odata.type": "#KarbonService.ClientGroupDTO",
                                    "BusinessCardKey": "2tBHyXtJBxBy",
                                    "EntityType": "Organization",
                                    "EntityKey": "2jHPZngklwxQ",
                                    "IsPrimaryCard": true,
                                    "WebSites": [
                                        "www.website.one",
                                        "www.website.two"
                                    ],
                                    "EmailAddresses": [
                                        "sample@example.com",
                                        "sample.two@example.com"
                                    ],
                                    "OrganizationKey": "ZGNmtYyLm4z",
                                    "RoleOrTitle": "COO",
                                    "FacebookLink": "facebook.com/sampleName",
                                    "LinkedInLink": "linkedin.com/sampleName",
                                    "TwitterLink": "twitter.com/sampleName",
                                    "SkypeLink": "skype.com/sampleName",
                                    "Addresses": {
                                        "AddressKey": "e150a05a-2dea-4292-8bc8-03398c9384e4",
                                        "AddressLines": "45 Sample Street",
                                        "City": "Alexandria",
                                        "StateProvinceCounty": "NSW",
                                        "ZipCode": "2015",
                                        "CountryCode": "AU",
                                        "Label": "Physical"
                                    },
                                    "PhoneNumbers": {
                                        "PhoneNumberKey": "6e0b9ace-24b1-4328-a922-3b8be5ef5052",
                                        "Number": 1234567890,
                                        "CountryCode": 61,
                                        "Label": "Work"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "UDI Not Found": {
                                        "$ref": "#/components/examples/BusinessCard_Not_Found"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Business Cards"
                ],
                "summary": "Updates a single Business Card",
                "parameters": [
                    {
                        "required": true,
                        "in": "path",
                        "name": "BusinessCardKey",
                        "schema": {
                            "type": "string",
                            "example": "2tBHyXtJBxBy"
                        },
                        "description": "The Karbon-generated Business Card key"
                    }
                ],
                "description": "Use the <code>PUT</code> method on this endpoint to update the details of a Business Card specified using the BusinessCardKey.",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Incorrect or Missing Data": {
                                        "$ref": "#/components/examples/Missing_Update_Data"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Key Not Found": {
                                        "$ref": "#/components/examples/ResourceNotFound"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Non existent Key": {
                                        "$ref": "#/components/examples/Shortened_5001"
                                    },
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "Refer to the table below for more information on each field in the request body.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "type": "object",
                                        "properties": {
                                            "EntityType": {
                                                "type": "string",
                                                "example": "Organization",
                                                "enum": [
                                                    "Contact",
                                                    "Organization"
                                                ],
                                                "description": "The type of entity that this business card is connected to."
                                            },
                                            "EntityKey": {
                                                "type": "string",
                                                "example": "2jHPZngklwxQ",
                                                "description": "The unique key for the entity specified this business card is connected to"
                                            }
                                        }
                                    },
                                    {
                                        "$ref": "#/components/schemas/BusinessCardRequest"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/v3/ClientGroups": {
            "get": {
                "tags": [
                    "Client Groups"
                ],
                "summary": "Gets a list of Client Groups",
                "parameters": [
                    {
                        "in": "query",
                        "name": "$filter",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FullName"
                            ],
                            "example": "FullName eq 'Sample Management Team'"
                        },
                        "description": "When this parameter is combined with the URI, this endpoint will return a subset of the Client Groups that satisfy the <code>$filter</code> expression. \n"
                    },
                    {
                        "in": "query",
                        "name": "$orderby",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FullName"
                            ],
                            "default": "ClientGroupKey",
                            "example": [
                                "FullName",
                                "FullName desc"
                            ]
                        },
                        "description": "When this parameter is combined with the URI, this endpoint will return a list of Client Groups, sorted by the available properties.\n"
                    },
                    {
                        "in": "query",
                        "name": "$top",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100,
                            "example": 50
                        },
                        "description": "When this parameter is combined with the URI and a value N is assigned to it, this endpoint will return only the first N Client Groups.\n"
                    },
                    {
                        "in": "query",
                        "name": "$skip",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "example": 100
                        },
                        "description": "When this parameter is combined with the URI and a value N is assigned to it, this endpoint will return all but the first N Client Groups.\n"
                    }
                ],
                "description": "Use the <code>GET</code> method on this endpoint to receive a paginated list of Client Groups from your tenant.  Using the query parameters available to this endpoint,  you can also filter the list of Client Groups by their full name. <br><br> <div style = \"border-block: 1px solid #fc7f03;\"> <b>Notes</b> <ul> <li>This endpoint returns a maximum of 100 Client Groups at once.</li> <li>If the query results in more than 100 Client Groups, a link to the next set of the results will be given in the <code>@odata.nextLink</code> field of the response.</li> <li>The <code>$filter</code> query parameter supports a logical operator - <code>eq</code> and a property to help you form an expression.</li> </ul> </div>\n",
                "operationId": "getClientGroups",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetClientGroup"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Unsupported Property": {
                                        "$ref": "#/components/examples/Unsupported_Property_Filter"
                                    },
                                    "Unsupported Orderby Property": {
                                        "$ref": "#/components/examples/$Orderby_Unsupported_Property"
                                    },
                                    "$top limit exceeded": {
                                        "$ref": "#/components/examples/Limit_Exceeded_Top"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Client Groups"
                ],
                "summary": "Creates a new Client Group",
                "description": "Use the <code>POST</code> method on this endpoint to create a new Client Group in your tenant.\n",
                "operationId": "createClientGroup",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ResponseCreateClientGroup"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "AccountingDetails": {
                                                    "nullable": true,
                                                    "type": "string",
                                                    "description": "The accounting details associated with the Client Group. This property will be <code>null</code>."
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "@odata.context": "https://api.karbonhq.com/v3/$metadata#ClientGroups/$entity",
                                    "@odata.type": "#KarbonService.ClientGroupDTO",
                                    "ClientGroupKey": "38zlxNyJSr8y",
                                    "FullName": "Abigail Silvers",
                                    "ClientOwner": "rodney.muller@samplecompany.com",
                                    "ClientManager": "jessica.tse@samplecompany.com",
                                    "ContactType": "Client",
                                    "UserDefinedIdentifier": "SILVERS",
                                    "RestrictionLevel": "Public",
                                    "PrimaryContact": "Duncan Moore",
                                    "LastModifiedDateTime": "2022-07-05T07:30:13.7188114Z",
                                    "Members": [],
                                    "EntityDescription": {
                                        "Text": "Bicycle rental service in the New jersey area."
                                    },
                                    "AccountingDetails": null
                                }
                            }
                        },
                        "headers": {
                            "Location": {
                                "description": "The endpoint URL to the newly created Client Group.",
                                "schema": {
                                    "type": "string",
                                    "example": "https://api.karbonhq.com/v3/ClientGroups('4t8LbR1QcbGS')"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Incorrect or Missing Data": {
                                        "$ref": "#/components/examples/Missing_Create_Data"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Duplicate UDI": {
                                        "$ref": "#/components/examples/Duplicate_UDI"
                                    },
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "Refer to the table below for more information on each field in the request body.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateClientGroup"
                            },
                            "example": {
                                "FullName": "Abigail Silvers",
                                "ClientOwner": "rodney.muller@samplecompany.com",
                                "ClientManager": "jessica.tse@samplecompany.com",
                                "ContactType": "Client",
                                "UserDefinedIdentifier": "SILVERS",
                                "RestrictionLevel": "Public",
                                "PrimaryContact": "Duncan Moore",
                                "EntityDescription": {
                                    "Text": "Bicycle rental service in the New jersey area."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/ClientGroups/GetClientGroupByUserDefinedIdentifier(UserDefinedIdentifier='{UserDefinedIdentifier}')": {
            "get": {
                "tags": [
                    "Client Groups"
                ],
                "summary": "Gets a Client Group using UserDefinedIdentifier",
                "parameters": [
                    {
                        "required": true,
                        "in": "path",
                        "name": "UserDefinedIdentifier",
                        "schema": {
                            "type": "string",
                            "example": "SILVERS"
                        },
                        "description": "A unique identifier that you had created to identify this Client Group. This parameter is <b>not</b> case sensitive."
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "BusinessCard"
                            ],
                            "example": "BusinessCard"
                        },
                        "description": "When this parameter is combined with the URI, this endpoint will also return the Business Card of the Client Group.\n"
                    }
                ],
                "description": "Use the <code>GET</code> method on this endpoint to receive the details of a Client Group specified using the UserDefinedIdentifier.  <br><br>Using the query parameter available to this endpoint, you can also include Business Card details of the Client Group in the response.\n",
                "operationId": "getClientGroupByUDI",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ResponseCreateClientGroup"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "AccountingDetails": {
                                                    "nullable": true,
                                                    "type": "string",
                                                    "description": "The accounting details associated with the Client Group. This property will be <code>null</code>."
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "BusinessCard": {
                                                    "$ref": "#/components/schemas/BusinessCard"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "@odata.context": "https://api.karbonhq.com/v3/$metadata#ClientGroups/$entity",
                                    "@odata.type": "#KarbonService.ClientGroupDTO",
                                    "ClientGroupKey": "38zlxNyJSr8y",
                                    "FullName": "Abigail Silvers",
                                    "ClientOwner": "rodney.muller@samplecompany.com",
                                    "ClientManager": "jessica.tse@samplecompany.com",
                                    "ContactType": "Client",
                                    "UserDefinedIdentifier": "SILVERS",
                                    "RestrictionLevel": "Public",
                                    "PrimaryContact": "Duncan Moore",
                                    "LastModifiedDateTime": "2022-07-05T07:30:13.7188114Z",
                                    "Members": {
                                        "ContactKey": "34yxkY51knn7",
                                        "OrganizationKey": "4ncPZ7q96SGc"
                                    },
                                    "EntityDescription": {
                                        "Text": "Bicycle rental service in the New jersey area."
                                    },
                                    "AccountingDetails": null,
                                    "BusinessCard": {
                                        "BusinessCardKey": "2tBHyXtJBxBy",
                                        "IsPrimaryCard": true,
                                        "WebSites": [
                                            "www.website.one",
                                            "www.website.two"
                                        ],
                                        "EmailAddresses": [
                                            "sample@example.com",
                                            "sample.two@example.com"
                                        ],
                                        "OrganizationKey": "ZGNmtYyLm4z",
                                        "RoleOrTitle": "COO",
                                        "FacebookLink": "facebook.com/sampleName",
                                        "LinkedInLink": "linkedin.com/sampleName",
                                        "TwitterLink": "twitter.com/sampleName",
                                        "SkypeLink": "skype.com/sampleName",
                                        "Addresses": {
                                            "AddressKey": "e150a05a-2dea-4292-8bc8-03398c9384e4",
                                            "AddressLines": "45 Sample Street",
                                            "City": "Alexandria",
                                            "StateProvinceCounty": "NSW",
                                            "ZipCode": "2015",
                                            "CountryCode": "AU",
                                            "Label": "Physical"
                                        },
                                        "PhoneNumbers": {
                                            "PhoneNumberKey": "6e0b9ace-24b1-4328-a922-3b8be5ef5052",
                                            "Number": 1234567890,
                                            "CountryCode": 61,
                                            "Label": "Work"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "UDI Is Empty": {
                                        "$ref": "#/components/examples/UDI_Is_Empty"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "UDI Not Found": {
                                        "$ref": "#/components/examples/UDI_Not_Found"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/ClientGroups/{ClientGroupkey}": {
            "get": {
                "tags": [
                    "Client Groups"
                ],
                "summary": "Gets a Client Group using ClientGroupkey",
                "parameters": [
                    {
                        "required": true,
                        "in": "path",
                        "name": "ClientGroupkey",
                        "schema": {
                            "type": "string",
                            "example": "4t8LbR1QcbGS"
                        },
                        "description": "The Karbon-generated Client Group key"
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "BusinessCard"
                            ],
                            "example": "BusinessCard"
                        },
                        "description": "When this parameter is combined with the URI, this endpoint will also return Business Card of the Client Group.\n"
                    }
                ],
                "description": "Use the <code>GET</code> method on this endpoint to receive the details of a Client Group specified using the <code>ClientGroupkey</code>.  <br><br>Using the query parameter available to this endpoint,  you can also include the Business Card details of the Client Group in the response.\n",
                "operationId": "getClientGroupByID",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/ResponseCreateClientGroup"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "AccountingDetails": {
                                                    "nullable": true,
                                                    "type": "string",
                                                    "description": "The accounting details associated with the Client Group. This property will be <code>null</code>."
                                                }
                                            }
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "BusinessCard": {
                                                    "$ref": "#/components/schemas/BusinessCard"
                                                }
                                            }
                                        }
                                    ]
                                },
                                "example": {
                                    "@odata.context": "https://api.karbonhq.com/v3/$metadata#ClientGroups/$entity",
                                    "@odata.type": "#KarbonService.ClientGroupDTO",
                                    "ClientGroupKey": "38zlxNyJSr8y",
                                    "FullName": "Abigail Silvers",
                                    "ClientOwner": "rodney.muller@samplecompany.com",
                                    "ClientManager": "jessica.tse@samplecompany.com",
                                    "ContactType": "Client",
                                    "UserDefinedIdentifier": "SILVERS",
                                    "RestrictionLevel": "Public",
                                    "PrimaryContact": "Duncan Moore",
                                    "LastModifiedDateTime": "2022-07-05T07:30:13.7188114Z",
                                    "Members": {
                                        "ContactKey": "34yxkY51knn7",
                                        "OrganizationKey": "4ncPZ7q96SGc"
                                    },
                                    "EntityDescription": {
                                        "Text": "Bicycle rental service in the New jersey area."
                                    },
                                    "AccountingDetails": null,
                                    "BusinessCard": {
                                        "BusinessCardKey": "2tBHyXtJBxBy",
                                        "IsPrimaryCard": true,
                                        "WebSites": [
                                            "www.website.one",
                                            "www.website.two"
                                        ],
                                        "EmailAddresses": [
                                            "sample@example.com",
                                            "sample.two@example.com"
                                        ],
                                        "OrganizationKey": "ZGNmtYyLm4z",
                                        "RoleOrTitle": "COO",
                                        "FacebookLink": "facebook.com/sampleName",
                                        "LinkedInLink": "linkedin.com/sampleName",
                                        "TwitterLink": "twitter.com/sampleName",
                                        "SkypeLink": "skype.com/sampleName",
                                        "Addresses": {
                                            "AddressKey": "e150a05a-2dea-4292-8bc8-03398c9384e4",
                                            "AddressLines": "45 Sample Street",
                                            "City": "Alexandria",
                                            "StateProvinceCounty": "NSW",
                                            "ZipCode": "2015",
                                            "CountryCode": "AU",
                                            "Label": "Physical"
                                        },
                                        "PhoneNumbers": {
                                            "PhoneNumberKey": "6e0b9ace-24b1-4328-a922-3b8be5ef5052",
                                            "Number": 1234567890,
                                            "CountryCode": 61,
                                            "Label": "Work"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Key Not Found": {
                                        "$ref": "#/components/examples/Key_Not_Found"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Client Groups"
                ],
                "summary": "Updates a Client Group (Full)",
                "parameters": [
                    {
                        "required": true,
                        "in": "path",
                        "name": "ClientGroupkey",
                        "schema": {
                            "type": "string",
                            "example": "4t8LbR1QcbGS"
                        },
                        "description": "The Karbon-generated Client Group key"
                    }
                ],
                "description": "Use the <code>PUT</code> method on this endpoint to update full details of a Client Group specified using the <code>ClientGroupkey</code>.  <br><br>Using the query parameter available to this endpoint, you can also update the Business Card details of the Client Group.\n",
                "operationId": "putClientGroupByID",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Incorrect or Missing Data": {
                                        "$ref": "#/components/examples/Missing_Update_Data"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Key Not Found": {
                                        "$ref": "#/components/examples/ResourceNotFound"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Non existent Key": {
                                        "$ref": "#/components/examples/Shortened_5001"
                                    },
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "Refer to the table below for more information on each field in the request body.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "allOf": [
                                    {
                                        "$ref": "#/components/schemas/CreateClientGroup"
                                    },
                                    {
                                        "type": "object",
                                        "properties": {
                                            "BusinessCard": {
                                                "$ref": "#/components/schemas/BusinessCardRequest"
                                            }
                                        }
                                    }
                                ]
                            },
                            "example": {
                                "FullName": "Abigail Silvers",
                                "ClientOwner": "rodney.muller@samplecompany.com",
                                "ClientManager": "jessica.tse@samplecompany.com",
                                "ContactType": "Client",
                                "UserDefinedIdentifier": "SILVERS",
                                "RestrictionLevel": "Public",
                                "PrimaryContact": "Duncan Moore",
                                "EntityDescription": {
                                    "Text": "Bicycle rental service in the New jersey area."
                                },
                                "BusinessCard": {
                                    "IsPrimaryCard": true,
                                    "WebSites": [
                                        "www.website.one",
                                        "www.website.two"
                                    ],
                                    "EmailAddresses": [
                                        "sample@example.com",
                                        "sample.two@example.com"
                                    ],
                                    "RoleOrTitle": "COO",
                                    "FacebookLink": "facebook.com/sampleName",
                                    "LinkedInLink": "linkedin.com/sampleName",
                                    "TwitterLink": "twitter.com/sampleName",
                                    "SkypeLink": "skype.com/sampleName",
                                    "Addresses": {
                                        "AddressLines": "45 Sample Street",
                                        "City": "Alexandria",
                                        "StateProvinceCounty": "NSW",
                                        "ZipCode": "2015",
                                        "CountryCode": "AU",
                                        "Label": "Physical"
                                    },
                                    "PhoneNumbers": {
                                        "Number": 1234567890,
                                        "CountryCode": 61,
                                        "Label": "Work"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Client Groups"
                ],
                "summary": "Updates a Client Group (Partial)",
                "parameters": [
                    {
                        "required": true,
                        "in": "path",
                        "name": "ClientGroupkey",
                        "schema": {
                            "type": "string",
                            "example": "4t8LbR1QcbGS"
                        },
                        "description": "The Karbon-generated Client Group key"
                    }
                ],
                "description": "Use the <code>PATCH</code> method on this endpoint to update partial details of a Client Group specified using the <code>ClientGroupkey</code>.  <br><br>This method <b>only supports</b> editing the <code>FullName</code> property. \n",
                "operationId": "patchClientGroupByID",
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Unsupported Property": {
                                        "$ref": "#/components/examples/Update_Unsupported_Property"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Key Not Found": {
                                        "$ref": "#/components/examples/ResourceNotFound"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Non existent Key": {
                                        "$ref": "#/components/examples/Shortened_5001"
                                    },
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "Refer to the table below for more information on each field in the request body.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "FullName": {
                                        "type": "string",
                                        "description": "The full name of the Client Group",
                                        "example": "Abigail Silvers"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/ClientRequestRecipients": {
            "get": {
                "tags": [
                    "Client Request Recipients"
                ],
                "summary": "Gets details of a Client email",
                "parameters": [
                    {
                        "in": "query",
                        "required": true,
                        "name": "emailAddress",
                        "schema": {
                            "type": "string",
                            "example": "info@acme.com"
                        },
                        "description": "When this parameter is combined with the URI, this endpoint will return the details of a Client email.\n"
                    }
                ],
                "description": "Use the <code>GET</code> method on this endpoint to receive the details of a Client email address.\n",
                "operationId": "getClientRequestRecipientsByEmail",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "value",
                                        "@odata.context"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "@odata.context": {
                                            "type": "string",
                                            "description": "The information about Karbon controllers generating this response.",
                                            "example": "https://api.karbonhq.com/v3/$metadata#ClientRequestRecipients"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "required": [
                                                    "value",
                                                    "@odata.context"
                                                ],
                                                "type": "object",
                                                "properties": {
                                                    "ClientRequestRecipientKey": {
                                                        "type": "string",
                                                        "description": "A Karbon-generated unique identifier for the email recipient",
                                                        "example": "yD8Rw3DxksW"
                                                    },
                                                    "ClientType": {
                                                        "type": "string",
                                                        "enum": [
                                                            "Contact",
                                                            "Organization"
                                                        ],
                                                        "description": "The client type of the Client Request Recipient.",
                                                        "example": "Organization"
                                                    },
                                                    "Name": {
                                                        "type": "string",
                                                        "description": "The name of the Client",
                                                        "example": "Acme Corporation"
                                                    },
                                                    "EmailAddresses": {
                                                        "type": "string",
                                                        "description": "The email address of the client",
                                                        "example": "info@acme.com"
                                                    },
                                                    "AuthorAvatarUrl": {
                                                        "type": "string",
                                                        "description": "The URL to the avatar of the client",
                                                        "example": "https://api.az.karbonemail.com/images/e546f2bc-e48f-4c2a-9384-a1036c28c081"
                                                    },
                                                    "AvatarIndex": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "The background color index number of the Client avatar",
                                                        "example": 25
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Invalid Email Address": {
                                        "$ref": "#/components/examples/ClientRequestRecipient_Invalid_Email"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Email Not Found": {
                                        "$ref": "#/components/examples/ClientRequestRecipient_Not_Found"
                                    },
                                    "HTTP Resource Not Found": {
                                        "$ref": "#/components/examples/HTTP_Resource_Not_Found"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/ClientRequests": {
            "get": {
                "tags": [
                    "Client Requests"
                ],
                "summary": "Gets a list of Client Requests",
                "description": "This endpoint can be used to get the details of all Client Request tasks.<br><br> <div style = \"border-block: 1px solid #fc7f03;\">   <b>Notes</b>   <ul>   <li>This endpoint returns a maximum of 100 Client Requests at once.</li>   <li>If the query results in more than 100 Client Requests, a link to the next set of the results will be given in the <code>@odata.nextLink</code> field of the response.</li>   <li>The <code>$expand</code> query parameter lets you include Recipient and ClientTaskSummaries associated with the Client task in the response. </li>  <li>The <code>$filter</code> query parameter supports 4 logical operators (<code>eq</code>, <code>ge</code>, <code>le</code>, and <code>and</code>) and 4 properties to help you  form an expression.  They are listed below with examples of usage.<br> <ul><br> <li><b>Operators for DateTime Properties</b></li> <table> <thead>\n    <tr>\n        <th>Logical Operators</th>\n        <th>Purpose</th>\n        <th>WorkItemCompletedDate</th>\n        <th>WorkItemDueDate</th>\n    </tr>\n</thead> <tbody>\n    <tr>\n        <td>eq</td>\n        <td>Full-text search</td>\n        <td>WorkItemCompletedDate eq 2020-10-31T17:04:32Z</td>\n        <td>WorkItemDueDate eq  2020-10-31T17:04:32Z</td>\n    </tr>\n    <tr>\n        <td>ge</td>\n        <td>Greater than and equals to</td>\n        <td>WorkItemCompletedDate ge 2020-10-31T17:04:32Z</td>\n        <td>WorkItemDueDate ge 2020-10-31T17:04:32Z</td>\n    </tr>\n    <tr>\n        <td>le</td>\n        <td>Lesser than and equals to</td>\n        <td>WorkItemCompletedDate le 2020-10-31T17:04:32Z</td>\n        <td>WorkItemDueDate le 2020-10-31T17:04:32Z</td>\n    </tr>\n    <tr>\n        <td>and</td>\n        <td>Combines properties</td>\n        <td colspan = \"2\">WorkItemCompletedDate ge\n2020-10-31T17:04:32Z and WorkItemKey eq '3jtk81v2Xtw7'</td>\n    </tr>\n</tbody> </table><br> <li><b>Operators for other Properties</b></li><br> <table> <thead>\n    <tr>\n        <th>Logical Operators</th>\n        <th>Purpose</th>\n        <th>Recipient/ClientRequestRecipientKey</th>\n        <th>WorkItemkey</th>\n    </tr>\n</thead> <tbody>\n    <tr>\n        <td>eq</td>\n        <td>Full-text search</td>\n        <td>/v3/ClientRequests?$filter=Recipient/ClientRequestRecipientKe\n eq 'yD8Rw3DxksW'</td>\n        <td>/v3/ClientRequests?$filter=WorkItemKey eq\n'3jtk81v2Xtw7'</td>\n    </tr>\n    <tr>\n        <td>and</td>\n        <td>Combines properties</td>\n        <td colspan = \"2\">/v3/ClientRequests?$filter=WorkItemKey\neq '3jtk81v2Xtw7' and WorkItemDueDate ge 2020-10-31T17:04:32Z</td>\n    </tr>\n</tbody> </table> </ul> </li></ul>",
                "operationId": "getClientRequests",
                "parameters": [
                    {
                        "in": "query",
                        "name": "$filter",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Recipient/ClientRequestRecipientKey",
                                "WorkItemCompletedDate",
                                "WorkItemDueDate",
                                "WorkItemKey"
                            ],
                            "example": "WorkItemKey eq '3jtk81v2Xtw7'"
                        },
                        "description": "When this parameter is combined with the URI, this endpoint will return a subset of the Client Requests that satisfy the <code>$filter</code> expression. \n"
                    },
                    {
                        "in": "query",
                        "name": "$top",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 100,
                            "example": 50
                        },
                        "description": "When this parameter is combined with the URI and a value N is assigned to it, this endpoint will return only the first N Client Requests.\n"
                    },
                    {
                        "in": "query",
                        "name": "$skip",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "example": 100
                        },
                        "description": "When this parameter is combined with the URI and a value N is assigned to it, this endpoint will return all but the first N Client Requests.\n"
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Recipient",
                                "ClientTaskSummaries"
                            ],
                            "example": "Recipient,ClientTaskSummaries"
                        },
                        "description": "When these parameters are combined with the URI, this endpoint will also return the Recipient and ClientTaskSummaries associated with the Client task.  <br><br>  <b>Notes</b>:  <ul>  <li>You <b>must</b> use the <code>WorkItemKey</code> property on the <code>$filter</code> option to use <code>ClientTaskSummaries</code> on the <code>$expand</code> option. </li> <li>Assign <code>Recipient</code> and <code>ClientTaskSummaries</code> (seperated by a comma) to the <code>$expand</code> option to include, both, Recipient and ClientTaskSummaries in the response.</li></ul>\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetExpandedClientRequestWOLastCommentItem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Missing Filter Property": {
                                        "$ref": "#/components/examples/Missing_Filter_Property"
                                    },
                                    "Unsupported Property": {
                                        "$ref": "#/components/examples/Unsupported_Property_Filter"
                                    },
                                    "$top limit exceeded": {
                                        "$ref": "#/components/examples/Limit_Exceeded_Top"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/ClientRequests/{ClientTaskkey}": {
            "get": {
                "tags": [
                    "Client Requests"
                ],
                "summary": "Gets a Client Request using ClientTaskkey",
                "description": "This endpoint can be used to get the details of a Client Request task (specified by the <code>ClientTaskkey</code>) attached to a Work Item.<br><br>\nUsing the query parameter available to this endpoint, you can also include Recipient, ClientTaskSummaries, and LastCommentItem associated with the Client task in the response.",
                "operationId": "getClientRequestsbyID",
                "parameters": [
                    {
                        "name": "ClientTaskkey",
                        "in": "path",
                        "description": "A Karbon-generated unique value that is used to identify the Client Request task",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2cmnl9fy6mj3"
                    },
                    {
                        "in": "query",
                        "name": "$expand",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Recipient",
                                "ClientTaskSummaries",
                                "ClientTaskSummaries($expand=LastCommentItem)"
                            ],
                            "example": "Recipient,ClientTaskSummaries($expand=LastCommentItem)"
                        },
                        "description": "When these parameters are combined with the URI, this endpoint will also return the Recipient, ClientTaskSummaries, and LastCommentItem associated with the Client task. <br><br> <b>Notes</b>: <ul> <li>Assign <code>Recipient</code> and <code>ClientTaskSummaries</code> (seperated by a comma) to the <code>$expand</code> option to include, both, Recipient and ClientTaskSummaries in the response.  </li> <li>The URI format for including <code>LastCommentItem</code> in the response is different from the format used for including <code>Recipient</code> and <code>ClientTaskSummaries</code> in the response.  <ul><li>You will need another <code>$expand</code> option (next to <code>ClientTaskSummaries</code> and inside parenthesis) and assign <code>LastCommentItem</code> to it.</li> <li>This anomaly in the format exists because <code>LastCommentItem</code> is a child object of <code>ClientTaskSummaries</code>.</li></ul> </li></ul>\n"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetExpandedClientRequest"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    },
                                    "Unsupported Property": {
                                        "$ref": "#/components/examples/Unsupported_Property_Filter"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Key Not Found": {
                                        "$ref": "#/components/examples/ClientRequestKey_Not_Found"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v3/ClientTaskCommentAttachments/{ClientTaskCommentKey}": {
            "put": {
                "tags": [
                    "Client Task Comment Attachments"
                ],
                "summary": "Uploads and links a file",
                "description": "This endpoint can be used to upload and link an attachment to a comment using the <code>ClientTaskCommentKey</code>.<br><br><div style = \"border-block: 1px solid #fc7f03; padding:5px;\"> Note that this endpoint <b>only supports uploading files from the local network</b> but not from the web. </div>",
                "operationId": "uploadClientTaskCommentAttachments",
                "parameters": [
                    {
                        "name": "ClientTaskCommentKey",
                        "in": "path",
                        "description": "A Karbon-generated unique value that is used to identify the Client Task Comment",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "4x6xD7GnPXGL"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "@odata.context": {
                                            "type": "string",
                                            "description": "The information about Karbon controllers generating this response.",
                                            "example": "https://api.karbonhq.com/v3/$metadata#Collection(KarbonService.ClientTaskCommentAttachmentDTO)"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Attachments"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Could not upload attachment": {
                                        "$ref": "#/components/examples/Could_not_upload_attachment"
                                    },
                                    "Unsupported Option": {
                                        "$ref": "#/components/examples/Unsupported_option"
                                    },
                                    "Unsupported Property": {
                                        "$ref": "#/components/examples/Unsupported_Property_Filter"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResourceNotFound"
                                },
                                "examples": {
                                    "Unauthorized Access": {
                                        "$ref": "#/components/examples/UnauthorizedAccess"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ResourceNotFound"
                                        },
                                        {
                                            "$ref": "#/components/schemas/ErrorMessages"
                                        }
                                    ]
                                },
                                "examples": {
                                    "Resource Not Found": {
                                        "$ref": "#/components/examples/ResourceNotFound"
                                    },
                                    "HTTP Resource Not Found": {
                                        "$ref": "#/components/examples/HTTP_Resource_Not_Found"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorMessages"
                                },
                                "examples": {
                                    "Undefined Error": {
                                        "$ref": "#/components/examples/elongated_5001"
                                    }
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "description": "Refer to the table below for more information on each field in the request body.",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "File"
                                ],
                                "properties": {
                                    "File": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "The field to hold the content of the uploaded file"
                                    },
                                    "FileName": {
[...]
